html{
    height: 100%;
}

body{
    min-height: 100%;
}

.Contenedor > *{

    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    /*border-radius: 4px;
    padding: 10px;*/
    text-align: center;
}
.header{
    grid-area: header;
    /*background-color: #85aedd;*/
}

.navbar{
    grid-area: navbar;
    background-color: #afd6af;
}

.sidebar{
    grid-area: sidebar;
    background-color: #fdcfcf;
}
.main{
    grid-area: main;
    background-color: #f5f5f5;
}
.footer{
    grid-area: footer;
    background-color: #8c96a0;
}

.Contenedor{

    display: grid;
    gap: 10px;
    grid-template: 
      "header"  100px
      "navbar"  50px
      "main"    auto
      "sidebar" 100px
      "footer"  100px;
}

@media(min-width: 600px){

    .Contenedor{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";
    }
}

@media(min-width: 900px){
    .Contenedor{
        grid-template: 
            "header header header"  100px
            "navbar main sidebar"  auto
            "footer footer footer"  100px /
            200px   auto   200px;
    }
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-right: 180px;
    margin-top: 30px;
}
a{
    font-size: 30px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: skyblue;
    
}
#imagen_principal{
   width: 10px; height: 10px;
}

